<h1 class="text-center"><%= @identifier.name %> with success record </h1>
<table class="table table-striped">
  <%= render partial: '/identifiers/csv_data_header' %>
  <tbody>
  <%= render partial: '/identifiers/csv_data_table', collection: @error_datas, as: :data %>
  </tbody>
</table>

<h1 class="text-center"><%= @identifier.name %> with error record </h1>
<table class="table table-striped">
  <%= render partial: '/identifiers/csv_data_header' %>
  <tbody>
    <%= render partial: '/identifiers/csv_data_table', collection: @error_datas, as: :data %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>