<h1><%= @identifier.name %> with success record </h1>
<table>
  <th>
  <td> Row # </td>
  <td> First Name </td>
  <td> Last Name </td>
  <td> Phone </td>
  <td> Email </td>

  </th>
  <tbody>
  <% @success_datas.each do |data| %>
    <tr>
      <td><%= data.row_id %></td>
      <td><%= data.first %></td>
      <td><%= data.last %></td>
      <td><%= data.phone %></td>
      <td><%= data.email %></td>
      <td><%= data.message || '-' %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<h1><%= @identifier.name %> with error record </h1>
<table>
  <th>
  <td> Row # </td>
  <td> First Name </td>
  <td> Last Name </td>
  <td> Phone </td>
  <td> Email </td>
  <td> Messages </td>

  </th>
  <tbody>
  <% @error_datas.each do |data| %>
    <tr>
      <td><%= data.row_id %></td>
      <td><%= data.first %></td>
      <td><%= data.last %></td>
      <td><%= data.phone %></td>
      <td><%= data.email %></td>
      <td><%= data.message %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>